<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <header>
        <nav>
            <ul>
                <li> <img src="img/Logo2.png"  alt="">
                </li>
                <li><a href="">News</a></li>
                <li><a href="">Jordan_News</a></li>
                <li><a href="">Sport</a></li>
                <li><a href="">Health</a></li>
                <li><a href="">Read_Later</a></li>


               
            </ul>
<form class="formSearch" action="/tosearch" method="post">
    <input class="searchHome" type="text" placeholder="Search For Country News" required>
    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
        </nav>
    </header>
    <main>
      
        <section class="sectionOneHome">
            
            <div>
               
                <!-- <form action="/signup" method="post"> 
                    <input type="submit" id="signUP" value="Sign UP">
                </form> -->
                <form action="/signout" method="post"> 
                    <input type="submit" id="signIn" value="Sign Out">
                </form>
                <!-- <form action="/signin" method="post"> 
                    <input type="submit" id="signIn" value="Sign In">
                </form> -->
            </div>
        </section>
        <section class="sectionTwoHome">
            <div class="homeDivForWeather">
                <h2>Amman,Jordan</h2>
                <ul>
                    <% outpot.forEach(element =>{ %>
                    <li>
                        <%= element.time %>
                    </li>
                    <li>

                        <img src="<%= element.icon %>" alt=""> 
                    </li>
                        <li>
                        
                            <%= element.hTemp %>
                        </li>
                        <li>
                        
                            <%= element.description %>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div>

            </div>
        </section>
        <section>


            <!-- <h1>hello</h1> -->
            

            <form action="/tosearch" method="post">
                <input type="text" placeholder="Enter a title or author" name="search" id="bar"><br>
                <button type="submit">Search</button>

            </form>
        </section>

     

    </main>

</body>

</html>