<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <header>
        <div id="header">
            <div id="logo">
                <img src="img/logo1.png" alt="">
                <!-- <h1>RCC</h1> -->
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <div class="dropdown">
                        <li class="droplist"><a>Categories</a></li>
                        <div class="dropdown-content">
                            <a href="/news">Politics News</a>
                            <a href="/sport">Sport News</a>
                            <a href="/health">Health News</a>
                            <a href="/tech">Technology News</a>

                        </div>
                    </div>
                    <li><a href="">Read Later</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </nav>
            <form class="formSearch" action="/tosearch" method="post">
                <input class="searchHome" type="text" name="search" placeholder="Search For Country News" required>
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <form action="/signout" method="post" id='buttonSignOut'>
                <input type="submit" id="signIn" value="Sign Out">
            </form>
        </div>
    </header>
    <main>

        <section class="sectionOneHome">

            <div>

                <!-- <form action="/signup" method="post" id="buttonSignUp"> 
                    <input type="submit" id="signUP" value="Sign UP">
                </form> -->
                <!-- <form action="/signout" method="post" id='buttonSignOut'> 
                    <input type="submit" id="signIn" value="Sign Out">
                </form> -->
                <!-- <form action="/signin" method="post" id='buttonSignIn'> 
                    <input type="submit" id="signIn" value="Sign In">
                </form> -->
            </div>
        </section>
        <section class="sectionTwoHome">
            <div class="homeDivForWeather">
                <h2>Amman,Jordan</h2>
                <ul>
                    <% outpot.forEach(element =>{ %>
                    <li>
                        <%= element.time %>
                    </li>
                    <li>

                        <img src="<%= element.icon %>" alt="">
                    </li>
                    <li>

                        <%= element.hTemp %>
                    </li>
                    <li>

                        <%= element.description %>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <div>
                <div>
                   

                    <img src="https://i0.wp.com/www.jprarts.com/news/wp-content/uploads/2016/12/Politics.png?resize=480%2C194&ssl=1" alt="">
                    <h2><a href="/news">Political News</a> </h2>
                    <p>Checkout the latest Political News</p>
                </div>

                <div>

                    <img src="https://image.freepik.com/free-vector/collection-people-doing-sport-silhouette_23-2147553215.jpg" alt="">
                    <h2><a href="/sport">Sport News</a> </h2>
                    <p>Checkout the latest Sport News</p>
                </div>
                <div>

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKSmt-r-9-6GSfY6m1loHbLf3Ry1gzAmV6Hg&usqp=CAU" alt="">
                    <h2><a href="/health">Health News</a> </h2>
                    <p>Checkout the latest Health News</p>
                </div>
                <div>

                    <img src="https://img.pngio.com/computer-laptop-technology-icon-34444-free-icons-and-png-technology-icon-png-626_626.png" alt="">
                    <h2><a href="/tech">Technology News</a> </h2>
                    <p>Checkout the latest Technology News</p>
                </div>

            </div>
        </section>
        <section>
            <div>
            </div>
        </section>
        <!-- <section>


           
            

            <form action="/tosearch" method="post">
                <input type="text" placeholder="Enter a title or author" name="search" id="bar"><br>
                <button type="submit">Search</button>

            </form>
        </section> -->



    </main>

    <!-- <footer class="homefooter">
        
            <div id="logo">
                <img src="img/logo1.png" alt="">
            </div>
            <div>
                <div>

                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>Amman, Jordan</p>
                </div>
                <div>

                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>00962 0555555</p>
                </div>
                <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>RCC_news@rcc.com</p>

                </div>

            </div>
            <div>
                <h2>
                    About the RCC Website
                </h2>
                <p>lorem</p>
                
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-github" aria-hidden="true"></i>
            </div>
        
    </footer> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>

</body>

</html>