

.userInfo {
    width: 65%;
    height: 500px;
    border: 1px solid #204051;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #204051;
    background-color: #204051;
    margin: 2%;
    position: sticky;
    top: 2%;
}
.whoShared {
    display: flex;
    
}
.whoShared h4{
    display: flex;
    margin-top: 3%;
    margin-left: 1%;
    font-size: 31px;
}



.whoShared img {
    height: 70px;
    width: 74px;
    border-radius: 51%;
    margin-bottom: 10px;
    margin: 15px 5px;
    border: 4px solid #204051;
}