main {
    width: 100%;
    /* position: absolute; */
    /* margin: 8.8% 0 0 0; */
}
.searchHome {
    display: block;
    /* padding: 1%; */
    line-height: 5px;
    margin: 0% 1% -20% 1%;
    height: 30px;
}
.sectionOneHome div:nth-child(1) form:nth-child(1) {
    margin: auto;
    grid-area: formOne;
}
.sectionOneHome div:nth-child(1) form:nth-child(1) input{
    height: 50px;
    width: 250px;
    background-color: rgba(132, 169, 172,0.7);
    border: 1px solid grey;
    border-radius: 7px;
}
.sectionOneHome div:nth-child(1) form:nth-child(2) {
    margin: auto;
grid-area: formTwo;
}
.sectionOneHome div:nth-child(1) form:nth-child(2) input{
    height: 50px;
    width: 250px;
    background-color: rgba(132, 169, 172,0.7);
    border: 1px solid grey;
    border-radius: 7px;
}
.sectionOneHome div:nth-child(1) form:nth-child(3) {
    margin:0 auto;
    grid-area: formThree;
}
.sectionOneHome div:nth-child(1) form:nth-child(3) input{
    height: 50px;
    width: 250px;
    background-color: rgba(132, 169, 172,0.7);
    /* opacity: 0.5; */
    border: 1px solid grey;
    border-radius: 7px;
}
.sectionOneHome div:nth-child(1) {
    width: 100%;
    /* margin: -135px 0; */
    background-image: url("/img/mainImage.gif");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height: 500px;
    display: grid;
    grid-template-areas:'formOne formOne formTwo formTwo''formThree formThree formThree formThree';
}
/* .sectionOneHome div:nth-child(1) form:nth-child(1) input{
    margin: 10%;
} */
/*-----For Section Two Home ----------*/
.sectionTwoHome{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
}
.sectionTwoHome div:first-child{
    background-color: #355F6F;
    width: 25%;
    height: 500px;
    overflow-x: scroll;
    margin: 0;
}
.weatherStatus{
    display: flex;
}
/*-------------------------------------------*/
/*---------------------Weather section----------------------*/
.homeDivForWeather h2{
    margin: 2% 0 0 0;
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    text-align: center;
}
.homeDivForWeather ul{
    margin: 5%;
}
.homeDivForWeather ul li{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #E4E3E3;
    text-align: center;
    width: 100%;
}
.homeDivForWeather ul li:nth-child(4n){
    border-bottom: 1px solid gray;
    margin-bottom: 10%;
    
}
