/* header{
    background-color: #204051;
    width: 100%;
    height: 80px;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e5e5e5ff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #84a9ac;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #204051;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    border-radius: 8px;
}
body{
    background-color: #f5f5f5;
}
#header{
    background-color: #204051;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}
#header img{
    height: 140px;
    width: 170px;
    margin: -30px 0;
}
#header #logo{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}
#header nav ul{
    float: right;
    line-height: 5;
    margin: 0 0 0 95px;
}
#header nav ul li{
    display: inline-block;
    margin-left: 20px;
}
#header nav ul li a{
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    width: 150px;
    line-height: 3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 1;
} 
.dropdown:hover .dropdown-content {
    display: block;
    margin: -15px 20px;
    border-top: 5px solid #bed9dc;
}
.dropdown-content a{
    color: #3B6978;
    text-decoration: none;
    padding: 12px 10px;
    width: 350px;
} 
.dropdown:hover .dropdown-content a:hover{
    /* display: block; */
    background-color: #204051;
    color: #f5f5f5;
}
.formSearch{
    margin: 4.5% 0 0 3%;
    /* display: inline-block; */
}
.formSearch input{
    margin: -40px 95px;
    margin-right: 5px;
    display: block;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 250px;
}
.formSearch button{
    display: block;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    height: 27px;
    margin: 13px 330px;
    margin-right: 0;
    background-color: #3B6978;
}
.formSearch button:hover{
    background-color: #72999F;
}
#titleContainer{
    background-color: rgba(39, 75, 91, .5);
    width: 100%;
    height: 500px;
}
#heroContainer{
    background-image: url(/img/hero.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 260px 0;
    margin-bottom: 80px;
}
#heroContainer h1{
    color: #f5f5f5;
    font-size: 50px;
    font-weight: bolder;
    top: 30%;
    left: 40%;
    margin: -260px 622px;
    padding: 225px 0;
    margin-bottom: 280px;
}
#hero{
    height: 500px;
    /* position: relative; */
    width: 100%;
}
#allNews{
    margin-top: 2%;
}
.container{
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    width: 70%;
    margin: 0 0 3% 15%;
}
.container .news{
    display: flex;
}
.container .news img{
    height: 272px;
    width: 40%;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    margin: 30px 5px;
}
.container .news .info{
    margin: 30px 10px;
}
.container .news .info h3{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5%;
    line-height: 1.2;
}
.container .news .info .date{
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 5%;
    margin-top: -12px;
}
.container .news .info h4{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3%;
}
.container .news .info .desc{
    line-height: 1.2;
}
.buttons{
    width: 50%;
    margin: -70px 340px;
}
.buttons .readMore{
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background-color: #204051;
    color: #f5f5f5;
    height: 40px;
}
.buttons .readMore a{
    color: #f5f5f5;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}
.form{
    margin: -152px 130px;
    margin-bottom: 50px;
}
.hidden{
    display: none;
}
.user{
    display: flex;
}
.user img, .user1, .shareUser{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin: 15px 5px;
}
.user .userComment{
    background-color: #bed9dc;
    margin: 15px 5px;
    border-radius: 5px;
    width: 250px;
    line-height: 2;
}
.commentBox{
    background-color: #f5f5f5;
    display: grid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    border: 1px solid;
    margin: 12% 5px 20px 5px;
}
.newComments{
    display: flex;
}
.commentPlace{
    margin: 22px 5px;
    border: 1px solid #84a9ac;
    border-radius: 13px;
    padding: 12px;
    width: 225px;
}
.commentsButton{
    background-color: #3b6978;
    border: none;
    border-radius: 5px;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 125px;

}
.commentsButton:hover{
    background-color: #84a9ac;
}
article{
    display: flex;
}
.userInfo{
    width: 100%;
    height: 500px;
    border: 1px solid #204051;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #204051;
    background-color: #204051;
    margin: 2%;
    position: sticky;
    top: 2%;
}
.basicInfo{
    display: flex;
    margin: 0 5%;
}
.basicInfo h4{
    color: #f5f5f5;
    margin: 9% 2%;
    font-size: 25px;
}

/* img{
    width: 20%;
    height: 30%;
} */

/* .commentBox {
    display: grid;
    border: 1px solid;
    margin-top: 10%;
}  */

.commentBox .comments{
    order: 1;
}

.commentBox .newComments{
    order: 2;
}

footer{
    margin: 3% 0 0 0;
    background-color: #204051;
    opacity: .9;
    padding: 2% 0 1% 0;
    margin: 3% 0 0 0;
    position: static;
    bottom: 0;
    width: 100%;
    height: 200px;
}

#footerIcons{
float: right;
margin: -6% 1% 0 0;


}

#logo-footer{
float: left;
width: 5%;
height: 5%;
margin: 0 0 0 3%;

}

#FooterTitle{
font-size: 30px;
display: inline-block;
margin:0 0 0 1%;
color: #f5f5f5;

}

#contact-us{
margin: 2% 0 0 3%;
text-decoration: none;
}


#h3-contact{
font-size: 33px;
display: inline-block;
}

#about-footer{
padding: 0 0 0 0;
margin: 1% 0 0 9%;

}




/* Icons for footer social media: 
----------------------------------------------------------------------------------
*/

.fa {
    color: #f5f5f5;
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: -12px -25px;
border-radius: 50%;
cursor: pointer;
}

.fa:hover {
    color: #204051;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}