@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
#header {
    background-color: #204051;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

#header img {
    height: 140px;
    width: 170px;
    margin: -30px 0;
}

#header #logo {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

#header nav {
    width: 100%;
}

#header nav ul>* {
    /* float: right; */
    line-height: 5;
    margin: 0 0 0 5%;
}

#header nav ul>li:first-child {
    /* margin-left: 56%; */
    margin: 0% 0 0 40%;
}

#header nav ul li {
    display: inline-block;
    /* margin-left: 20px; */
    /* margin: 0 10%; */
    cursor: pointer;
}

#header nav ul li a {
    color: #f5f5f5;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    width: 150px;
    line-height: 3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: -15px 20px;
    border-top: 5px solid #bed9dc;
}

.dropdown-content a {
    color: #3B6978;
    text-decoration: none;
    padding: 12px 10px;
    width: 350px;
}

.dropdown:hover .dropdown-content a:hover {
    /* display: block; */
    background-color: #204051;
    color: #f5f5f5;
}

header form {
    margin: 2% 0 0 32%;
    width: 50%;

}

header form>* {
    display: inline-block;
    height: 25px;
}

/* sign input button*/
.login{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 28%;
    margin-left: -25%;
    width: 180px;
}
.loginButt{
    border: 1px solid #214253;
    border-radius: 5px;
    margin: -2% -25%;
    background-color: #244656;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 15px;
    width: 80px;
}
.loginButt:hover{
    background-color: #204051;
}
/* header form input:nth-child(4){
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
}
header form input:nth-child(4):hover{
    background-color: darkgray;
} */

header form>p {
    color: red;
    width: 32%;
}

body {
    /* background-image: url('https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000'); */
    background-image: url('/img/bg.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

/* section {
    border: 1px solid gray;
    margin: auto;
    margin-top: 10%;
    width: 60%;
    background-color: rgb(190, 217, 220, 0.8);
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-left-radius: 15px 30px;
    border-bottom-right-radius: 15px 30px;
} */
.cover{
    min-height: 500px;
    width: 100%;
}
.cover aside{
    background-color: #204051;
    box-shadow: 2px 2px 5px ;
    opacity: .7;
    margin: 10% 7%;
    width: 30%;
    height: 300px;
}
.cover aside h1{
    color: rgba(157, 2, 8, .85);
    font-size: 50px;
    padding: 5%;
}
.cover aside p{
    color: #f5f5f5;
    line-height: 1.5;
    padding: 0 5%;
}
section h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 34px;
    text-align: center;
    width: 100%;
    margin: 0 0 10% 0;
}

section form {
    width: 20%;
    margin-bottom: 5%;
}

section form>input:first-of-type,section form>input:nth-of-type(2) {
    height: 30px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgb(32, 64, 81, 0.8);
}

section form input:hover {
    background-color: rgb(32, 64, 81, 1);
}
form label{
    margin-top: 2%;
    display: block;
}
section form>*{
    display: block;
    margin-bottom: 5%;
}
section form>p{
    width: 100%;
    color: red;
}
section form label>*{
    display: inline-block;
    width: 25%;
    text-align: center;
    /* padding: 0 auto; */
}
section form label span:hover{
    color: gray;
}

section form>input:last-child{
    border: 1px solid grey;
}
#foot{
    height: 70px;
}
#footer img{
    margin: -5.5% 5%;
    height: 130px;
}
#copy{
    margin: -2% .5% 0 .5%;
}
#copy p{
    text-align: center;
    margin-left: 65%;
    width: 365px;
    font-weight: lighter;
}