@media screen and (max-width: 1920px){
    .signin {
        margin: 2% -18% 0 42%;
    }
    #header p {
        color: rgb(210 14 22);
    width: 12%;
    margin: 0.5% -48% -39% 41%;
    height: 25px;
    }
    /* sign input button*/
.login{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 28%;
    margin-left: -25%;
    height: 25px;
    width: 38%;
}
.loginButt{
    border: 1px solid #214253;
    border-radius: 5px;
    margin: -2% -25%;
    background-color: #244656;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 15px;
    width: 80px;
}
.loginButt:hover{
    background-color: #204051;
}
header form>p {
    color: rgb(210 14 22);
    width: 50%;
    margin: -7% -25% 2%;
}

body {
    background-image: url('/img/bg.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}
.cover{
    display: flex;
    min-height: 500px;
    width: 100%;
}
.cover aside{
    background-color: #204051;
    box-shadow: 2px 2px 5px ;
    opacity: .7;
    margin: 10% 7%;
    width: 30%;
    height: 300px;
}
.cover aside h1{
    color: rgba(157, 2, 8, .85);
    font-size: 50px;
    font-weight: bold;
    padding: 5%;
}
.cover aside p{
    color: #f5f5f5;
    line-height: 1.5;
    padding: 0 5%;
}
.signUp{
    background-color: #204051;
    box-shadow: 2px 2px 5px ;
    opacity: .7;
    margin: 10% 7%;
    width: 50%;
    /* height: 300px; */
}
.signUp h2{
    color: #f5f5f5;
    font-size: 30px;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}
.signingup{
    width: 100%;
}
/* .signingup p{
    background-color: #be4b49;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
} */
#name{
    display: flex;
}
.name{
    border: none;
    border-radius: 5px;
    margin-left: 25.5%;
    margin-right: -23.5%;
    height: 30px;
    width: 200px;
}
.iformation{
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 3% 25.5% -2%;
    width: 422px;
}
.select{
    color: #f5f5f5;
    font-size: 18px;
    font-weight: lighter; 
}
label{
    margin: 0 -32% 0 37.5%;
}
.submitInfo{
    border: none;
    border-radius: 5px;
    color: #204051;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    margin: 2% 36%;
    width: 28%;
}
.submitInfo:hover{
    background-color: #204051;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
}
#foot{
    height: 70px;
    margin: 7.5% 0 0;
}
#footer img{
    margin: -5.5% 5%;
    height: 120px;
    width: 12%;
}
#copy{
    margin: -2% .5% 0 .5%;
}
#copy p{
    text-align: center;
    margin-left: 65%;
    width: 365px;
    font-weight: lighter;
}
}
@media screen and (max-width: 1536px){
#header p{
    color: rgb(210 14 22);
    width: 45%;
    margin: 1% -79.65% 0% 30%;
}
.signin{
    margin: 2.5% -18% 0 42%;
}

/* sign input button*/
.login{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 28%;
    margin-left: -25%;
    height: 25px;
    width: 38%;
}
.loginButt{
    border: 1px solid #214253;
    border-radius: 5px;
    margin: -2% -25%;
    background-color: #244656;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 15px;
    width: 80px;
}
.loginButt:hover{
    background-color: #204051;
}
header form>p {
    color: rgb(210 14 22);
    width: 50%;
    margin: -7% -25% 2%;
}

body {
    background-image: url('/img/bg.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}
.cover{
    display: flex;
    min-height: 500px;
    width: 100%;
}
.cover aside{
    background-color: #204051;
    box-shadow: 2px 2px 5px ;
    opacity: .7;
    margin: 10% 7%;
    width: 30%;
    height: 300px;
}
.cover aside h1{
    color: rgba(157, 2, 8, .85);
    font-size: 50px;
    font-weight: bold;
    padding: 5%;
}
.cover aside p{
    color: #f5f5f5;
    line-height: 1.5;
    padding: 0 5%;
}
.signUp{
    background-color: #204051;
    box-shadow: 2px 2px 5px ;
    opacity: .7;
    margin: 10% 7%;
    width: 50%;
    /* height: 300px; */
}
.signUp h2{
    color: #f5f5f5;
    font-size: 30px;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}
.signingup{
    width: 100%;
}
/* .signingup p{
    background-color: #be4b49;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
} */
#name{
    display: flex;
}
.name{
    border: none;
    border-radius: 5px;
    margin-left: 19%;
    margin-right: -17%;
    height: 30px;
    width: 200px;
}
.iformation{
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 3% 19% -2%;
    width: 422px;
}
.select{
    color: #f5f5f5;
    font-size: 18px;
    font-weight: lighter; 
}
label{
    margin: 0 -32% 0 36%;
}
.submitInfo{
    border: none;
    border-radius: 5px;
    color: #204051;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    margin: 2% 36%;
    width: 28%;
}
.submitInfo:hover{
    background-color: #204051;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
}
#foot{
    height: 70px;
}
#footer img{
    margin: -5.5% 5%;
    height: 120px;
    width: 12%;
}
#copy{
    margin: -2% .5% 0 .5%;
}
#copy p{
    text-align: center;
    margin-left: 65%;
    width: 365px;
    font-weight: lighter;
}
}
@media screen and (max-width: 1366px){
    
    #foot{
        height: 70px;
    }
}