<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search News</title>
    <link rel="stylesheet" href="css/news.css">
</head>

<body>
    <main>
        <h1>Search News</h1>
        <% searchData.forEach ((item,ind) => { %>
        <section>
            <img src="<%= item.urlToImage %>" alt="">
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
            <a href="<%=item.url%>">See more</a>

     

        </section>
        <% }); %>




    </main>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script> -->
</body>

</html>