<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/signingin"  method="post">
            <label for="">Username</label>
            <input id="comment" type="text" name="user_name" size="20"><br>

            <label for="">Password</label>
            <input id="comment" type="text" name="password" size="20"> <br>

            <input type="submit"  value="Sign In">
        </form>
    </main>
</body>
</html>