<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <form action="/signingup" method="post" class="signingup">
            <label for="">Username</label>
            <input id="comment" type="text" name="user_name" size="20"><br>

            <label for="">Password</label>
            <input id="comment" type="text" name="password" size="20"> <br>
            <label class="label">
                <input type="radio" name="gender" value="Male">
                <span>Male</span>
            </label>
            <label class="label">
                <input type="radio" name="gender" value="Female">
                <span>Female</span>
            </label><br>

            <input type="submit" value="Sign UP">
        </form>
    </main>
</body>

</html>